* {
    box-sizing: border-box;
}

body{
    background: #F8F8F8;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
/* =================
Typography
================= */
h1{
    color: #143774;
    font-size: 3rem;
    font-weight: bold;
}
/* =================
Layout
================= */
.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}
.container-flex {
    display: flex;
    justify-content: space-around;
;
}
header {
    text-align: center;
    padding: 3em 0;
}
nav ul {


    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav li {
    transform: scale(1);
    transition: transform 250ms;
    margin: 0 1rem;
}

nav a {
    text-decoration: none;
    transform: scale(1);
    transition: transform 250ms;
    color: white;
    font-weight: 700;
    padding: 1rem 1.75rem;
    background-image: linear-gradient(to left, #FF713B, #FFA51D);
    border-radius: 5px;
    text-transform: uppercase;
}

nav a:hover,
nav a:focus,
nav li:hover,
nav li:focus
{
    transform: scale(1.1);
}
.btn-orange__up,
.btn-orange__in
{
    display: inline-block;
    padding: 1rem 3rem;
    background-image: linear-gradient(to left, #FF713B, #FFA51D);
    transform: scale(1);
    transition: transform 250ms;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    text-transform: uppercase;

}

.btn-orange__up:hover,
.btn-orange__in:hover
{
    transform: scale(1.1);

}

.hidden {
    display: none;
}

/* =================
   form
   ================= */
.form-box {
 margin-top: 1rem
;
}
.singup,
.singin, h3
{
    width: 80%;
    max-width: 300px;
    background: #F8F8F8;
    text-align: center;
    margin: 0 auto;

}
.singup,
.singin{
    border-radius: 5px;
    margin-top: 4rem;
    padding: 1rem;
}
label{
    margin-bottom: 0.5em;
    text-align: center;
}
input,.btn
{
    width: 90%;
    border-radius: 5px;
    cursor: pointer;
    margin-top: .5em;
    margin-bottom: .5em;
}
.btn{
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    border: 0;
    cursor: pointer;
}
.btn-primary {
    background: linear-gradient(#ff713b, #ffa51d);
    transform: scale(1);
    transition: transform 250ms;
    color: white;
}
.btn-primary:hover,
.btn-primary:focus {
    transform: scale(1.1);
}
input {
    font-family: inherit;
    text-align: inherit;
    margin-bottom: .75em;
    padding: .25em;
    border: 1px solid #404040;
    border-radius: 5px;
    transform: scale(1);
    transition: transform 250ms;
}
input:focus {
    transform: scale(1.1);
}
input[type=checkbox] {
    zoom: 1.5;
    width: 100%;
}
.error{
    background: red;
    color: black;
    padding: 1em;
    border-radius: 5px;
}
/* =================
   modal window
   ================= */
.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;

    overflow: auto;

    text-align: center;

    background: rgba(0, 0, 0, 0.8);
}
.modal-overlay-close {
    position: absolute;
    top: -5px;
    right: 0;

    padding: 0 10px;

    font-size: 45px;
    text-align: center;
    color: #ffffff;

    cursor: pointer;
}

@media (max-width: 500px) {
    .container-flex {
        flex-direction: column;
        align-items: center;
    }
    .btn-yellow {
        width: 50%;
        margin: 1rem 0;
        text-align: center;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }

    nav li {
        margin: 1.5rem 0;
    }

}